function sendQuery() {
  var userQuery = prompt("Please enter your query:");

  if (userQuery !== "") {
    console.log("Your Query is: " + userQuery);
    return userQuery;
  } else {
    console.log("Please enter a query before sending.");
    return null;
  }
}
